<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		 <typeAlias type="com.kh.everycvs.common.model.vo.User"
			alias="user" /> 
		 <typeAlias type="com.kh.everycvs.common.model.vo.Purchase"
		    alias="purchase"/>
	</typeAliases>
	
</configuration>
